<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">MyHR Web System</h2>
        <p>MyHR is a web solution made for helping you manage your employee records. Access your critical records at anytime anywhere with MyHR</p>
        <p>Here are our services:</p>
        <p>
        <a class="btn btn-primary btn-lg" href="/employees/">Manage Employees</a>
        <a class="btn btn-primary btn-lg" href="/departments/">Manage Departments</a>
        </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>MyHR Solutions Delivery</strong>
            <br>123 Sesame Street
            <br>Beverly Hills, CA 90210
            <br>
          </address>
          <address>
          <abbr title="Phone">P:</abbr>
            +63-933-818-9852
          <br>
          <abbr title="Email">E:</abbr>
         <a href="mailto:#">joshuadapitan@gmail.com</a>
      </address>
    </div>
  </div>
</div>